@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

.box:last-child { 
    margin-bottom: 1.5rem; 
}

.task-list-content {
    height: 100vh;
    overflow-y: auto;
}

.task-list-content::-webkit-scrollbar {
    width: 5px;
}

.task-list-content::-webkit-scrollbar-track {
    background: transparent;
}

.task-list-content::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 6px;
}

#eliminar-tarea {
    margin-top: 5px;
    height: 20px;
    width: 20px;
}